.app {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
}

.app__title,
.app__subtitle {
  color: rgb(0, 0, 0);
}

.app__version {
  font-size: 12px;

  &--red {
    color: rgb(255, 0, 0);
  }
}
